* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Padauk', sans-serif;
}

ul li {
    list-style: none;
    /* display: inline-block !important; */
}

#content-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#web {
    z-index: -2;
    font-size: 16rem;
    -webkit-text-stroke-width: 1px;
    color: transparent;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hello {
    letter-spacing: 1.3rem;
}

#content {
    height: 90vh;
    position: relative;
}

a {
    /* color: wheat !important; */
    color: black !important;
    text-decoration: none !important;
}

a i {
    font-size: 30px;
}

nav a {
    border-bottom: 4px solid white;
}

nav a:hover {
    /* border-top: 4px solid white; */
    border-bottom: 4px solid black;
    /* padding: 6px 0; */
}

#link {
    width: 100px;
}

#developer {
    z-index: 2;
    font-size: 4rem;
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
}

b {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#about-p {
    word-spacing: 0.4rem;
}

#imgs {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#imgs:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

@media(max-width:567px) {
    #web {
        font-size: 13rem;
        font-size: 10rem;
    }
    #hello {
        letter-spacing: 0.8rem;
    }
    #content {
        height: 95vh;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    #content {
        height: 50vh;
    }
}

input,
textarea {
    border: 2px solid black;
}

input:focus,
textarea:focus {
    border: 2px solid black;
}

.my-class .bar {
    z-index: 99999999999;
    height: 5px;
    background-color: black;
    /* background-image: linear-gradient(to right top, #d6b4f0, #ea99db, #fd7cb7, #ff5f86, #ff4c4c); */
}

#noti {
    width: 0px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    text-align: center;
}

.active {
    width: 100px;
}